################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/app_indicadores_ms/.vs/App_Depuraciones/FileContentIndex
